<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="codeConfigurators" name="codeConfigurators" schema="schema/codeConfigurators.exsd"/>
   <extension-point id="elementPreProcessors" name="elementPreProcessors" schema="schema/elementPreProcessors.exsd"/>
   <extension-point id="attributeHandlersProviders" name="attributeHandlersProviders" schema="schema/attributeHandlersProviders.exsd"/>
   <extension-point id="elementImporters" name="elementImporters" schema="schema/elementImporters.exsd"/>
   <extension
         id="samlImport"
         point="org.eclipse.core.runtime.applications">
      <application
      		cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.scout.sdk.saml.importer.application.SamlImportApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.saml.importer.codeConfigurators">
      <sourceProvider
            class="org.eclipse.scout.sdk.saml.importer.operation.logic.DefaultSourceProvider"
            order="-1000">
      </sourceProvider>
      <projectConfigurator
            class="org.eclipse.scout.sdk.saml.importer.extension.configurator.DefaultProjectConfigurator"
            order="-1000">
      </projectConfigurator>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.saml.importer.attributeHandlersProviders">
      <attributeHandlersProvider
            class="org.eclipse.scout.sdk.saml.importer.operation.logic.LogicAttributeHandlersProvider">
      </attributeHandlersProvider>
      <attributeHandlersProvider
            class="org.eclipse.scout.sdk.saml.importer.operation.code.CodeAttributeHandlersProvider">
      </attributeHandlersProvider>
      <attributeHandlersProvider
            class="org.eclipse.scout.sdk.saml.importer.operation.form.FormAttributeHandlersProvider">
      </attributeHandlersProvider>
      <attributeHandlersProvider
            class="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldAttributeHandlersProvider">
      </attributeHandlersProvider>
      <attributeHandlersProvider
            class="org.eclipse.scout.sdk.saml.importer.operation.form.column.ColumnAttributeHandlersProvider">
      </attributeHandlersProvider>
      <attributeHandlersProvider
            class="org.eclipse.scout.sdk.saml.importer.operation.key.KeyAttributeHandlersProvider">
      </attributeHandlersProvider>
      <attributeHandlersProvider
            class="org.eclipse.scout.sdk.saml.importer.operation.menu.MenuAttributeHandlersProvider">
      </attributeHandlersProvider>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.saml.importer.elementImporters">
      <importer
            element="org.eclipse.scout.saml.saml.CodeElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.code.CodeElementImportOperation">
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.ColumnElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.column.ColumnElementImportOperation">
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.FormElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.FormElementImportOperation">
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.KeyElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.key.KeyElementImportOperation">
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.LookupElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.lookup.LookupElementImportOperation">
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.MenuElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.menu.MenuElementImportOperation">
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.TranslationElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.translation.TranslationElementImportOperation">
      </importer>
      <importer
            element="org.eclipse.scout.sdk.saml.importer.operation.logic.EventLogicsInfo"
            operation="org.eclipse.scout.sdk.saml.importer.operation.logic.SamlLogicFillOperation">
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.SequenceBoxElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Box">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.sequencebox.ISequenceBox">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.GroupBoxElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Box">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.groupbox.IGroupBox">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.TabElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Box">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.groupbox.IGroupBox">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.StringElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Field">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.stringfield.IStringField">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.SmartfieldElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Field">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.smartfield.ISmartField">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.LongElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Field">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.longfield.ILongField">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.BigDecimalElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Field">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.bigdecimalfield.IBigDecimalField">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.DateElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Field">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.datefield.IDateField">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.CustomFieldElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Field">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.ButtonElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Button">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.button.IButton">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.TableElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.TableElementImportOperation">
         <property
               name="fieldSuffix"
               value="Field">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.tablefield.ITableField">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.ListBoxElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Field">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.listbox.IListBox">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.TabBoxElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Box">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.groupbox.IGroupBox">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.ModuleElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.ModuleElementImportOperation">
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.LogicElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.logic.NamedTopLevelLogicImportOperation">
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.TemplateElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.template.TemplateElementImportOperation">
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.CheckboxElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Field">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.booleanfield.IBooleanField">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.FileChooserElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Field">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.filechooserfield.IFileChooserField">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.RadioGroupElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Group">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.radiobuttongroup.IRadioButtonGroup">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.RadioButtonElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Button">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.button.AbstractRadioButton">
         </property>
      </importer>
      <importer
            element="org.eclipse.scout.saml.saml.LabelElement"
            operation="org.eclipse.scout.sdk.saml.importer.operation.form.field.FormFieldElementImportOperation">
         <property
               name="fieldSuffix"
               value="Field">
         </property>
         <property
               name="defaultSuperInterfaceFqn"
               value="org.eclipse.scout.rt.client.ui.form.fields.labelfield.ILabelField">
         </property>
      </importer>      
   </extension>

</plugin>
