<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="formFieldOperation" name="formFieldOperation" schema="schema/formFieldOperation.exsd"/>
   <extension-point id="codeCustomization" name="codeCustomization" schema="schema/codeCustomization.exsd"/>
   <extension
         id="samlImport"
         point="org.eclipse.core.runtime.applications">
      <application
      		cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.scout.sdk.saml.importer.application.SamlImportApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.saml.importer.formFieldOperation">
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.container.SequenceBoxElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.SequenceBoxElement">
      </operation>
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.container.GroupBoxElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.GroupBoxElement">
      </operation>
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.StringElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.StringElement">
      </operation>
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.SmartfieldElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.SmartfieldElement">
      </operation>
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.LongElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.LongElement">
      </operation>
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.BigDecimalElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.BigDecimalElement">
      </operation>
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.DateElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.DateElement">
      </operation>
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.CustomFieldElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.CustomFieldElement">
      </operation>
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.ButtonElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.ButtonElement">
      </operation>
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.TableElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.TableElement">
      </operation>
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.TabBoxElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.TabBoxElement">
      </operation>
      <operation
            importOperation="org.eclipse.scout.sdk.saml.importer.operation.form.fields.ListBoxElementImportOperation"
            samlFormElement="org.eclipse.scout.saml.saml.ListBoxElement">
      </operation>
   </extension>
   <extension
         point="org.eclipse.scout.sdk.saml.importer.codeCustomization">
      <sourceProvider
            class="org.eclipse.scout.sdk.saml.importer.operation.logic.DefaultSourceProvider"
            order="-1000">
      </sourceProvider>
      <projectConfigurator
            class="org.eclipse.scout.sdk.saml.importer.extension.customization.DefaultProjectConfigurator"
            order="-1000">
      </projectConfigurator>
   </extension>

</plugin>
